*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  .btn{
    
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
}
header{
    background-color: ;
    padding-top: 50px;
    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}
nav{
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
   align-items: center;

}
nav .logo{
font-size: 45px;
font-weight: 900;
}
.orange-colour{
    color: #FD6E0A;
}
nav .menu{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items:center;
}


nav .menu a {
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}

#banner .banner-contain{
    max-width: 585px;
}

#banner{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#banner .banner-contain h2{
    font-size: 45px;
    font-weight: 600;
    color:#474747;
   padding-bottom: 5px;
}
#banner .banner-contain h1{
    font-size: 85px;
    font-weight: bold;
    color: black;
   margin-bottom: 20px;
}
#banner .banner-contain p{

    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}

#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;



